<ul>
    {{#each paintings}}
        <li class="loading">
            <a href="/art/{{objectNumber}}">
                <img src="{{smallImg}}" alt="{{title}}">
            </a>
        </li>
    {{/each}}
</ul>
<form action="#">
    <label for="search"></label>
    <input type="search" name="" id="search" placeholder="Search artist">
</form>
<div id="loading">
    <img src="/assets/gifs/Spin-0.9s-104px.svg" alt="">
</div>

<script type="module" src="/js/infiniteScroll.js"></script>
<script type="module" src="/js/search.js"></script>
<script src="/js/script.js"></script>
