<main>
    <ul>
        {{#each paintings}}
        <li class="loading">
            <a href="{{objectNumber}}">
                <img src="{{webImage.url}}" alt="{{title}}">
            </a>
        </li>
        {{/each}}
    </ul>
</main>